@{
    ViewData["Title"] = "Album Index";
}

<div class="text-center">
    <h1 class="display-4">Album Index</h1>
    <h1 class="display-4">Make sure your API project is running and then <a href="/Album" target="_blank">Click here</a></h1>
</div>
